# AUTH
JWT_SECRET_KEY=
ADMIN_TOKEN=

DUMMY_USERNAME=
DUMMY_PASSWORD=

# LLMs
OPENAI_API_KEY=

OLLAMA_DELL_WORK_ENDPOINT=
OLLAMA_DELL_WORK_API_KEY=

GEMINI_ENDPOINT=
GEMINI_API_KEY=

OPENROUTER_ENDPOINT=
OPENROUTER_API_KEY=

# TOOLS
GOOGLE_DRIVE_SEARCH_WEBHOOK_URL=

# SCRIPTS
AWS_ACCESS_KEY=    
AWS_SECRET_ACCESS_KEY=

VIDWIZ_DB_URL=
TRACKCROW_DB_URL=

# NTFY
NTFY_BASE_URL=
NTFY_TOKEN=

# GEOFENCE
SMTP_EMAIL=
SMTP_APP_PASSWORD=
GEOFENCE_UPDATES_RECIPIENT=
GEOFENCE_SENDER_NAME=
