JWT_SECRET_KEY=

DUMMY_USERNAME=
DUMMY_PASSWORD=


OPENAI_API_KEY=

OLLAMA_DELL_WORK_ENDPOINT=
OLLAMA_DELL_WORK_API_KEY=

GEMINI_ENDPOINT=
GEMINI_API_KEY=

OPENROUTER_ENDPOINT=
OPENROUTER_API_KEY=


GOOGLE_DRIVE_SEARCH_WEBHOOK_URL=

STATIC_API_TOKEN=
