# AUTH
ADMIN_TOKEN=

# APP
APP_NAME=SAARTHI
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(filename)s:%(lineno)d - %(message)s
LOG_DATE_FORMAT=%Y-%m-%d %H:%M:%S
LOG_FILE=logs/app.log

# GEOFENCE EMAIL
SMTP_EMAIL=
SMTP_APP_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
GEOFENCE_UPDATES_RECIPIENT=
GEOFENCE_SENDER_NAME=
GEOFENCE_SUBJECT_TEMPLATE=Adhiraj Location Update: {area}
GEOFENCE_EMAIL_TEMPLATE=Hello Pandey Parivaar,\n\nAdhiraj ki location ka update:\n\nArea - {area}\nUpdate - {event}\n\nRegards\nPandey Bot

# DATABASE BACKUP SCRIPT
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
VIDWIZ_DB_URL=
TRACKCROW_DB_URL=

# NTFY NOTIFICATIONS
NTFY_BASE_URL=
NTFY_TOKEN=
NTFY_TOPIC=notifs

# GDRIVE BACKUP SCRIPT (OPTIONAL OVERRIDES)
GDRIVE_SOURCE=personal-drive
GDRIVE_DESTINATION=dwaar-s3:dwaar/backups/gdrive
GDRIVE_FOLDERS=[01] PERSONAL,[02] PROFESSIONAL
